<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
/>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/lib/skinview3d.bundle.js"></script>
  </head>
  <body>
    <div id="skin_container"></div>
    <div id="nav">
      <a href="/skins">skins</a>
    </div>
    <script>
    let skinViewer = new skinview3d.SkinViewer({
			domElement: document.getElementById("skin_container"),
			width: 300,
			height: 500,
			skinUrl: "/skin/call-me-naive-but-i-guess-i-thought-if-the-world-was-ending-.png"
		});

		// By default, the skin model is automatically detected. You can turn it off in this way:
		// skinViewer.detectModel = false;
		// skinViewer.playerObject.skin.slim = true;

		let control = new skinview3d.createOrbitControls(skinViewer);
		skinViewer.animations.add(skinview3d.WalkingAnimation);
		skinViewer.animations.speed = 1;

	</script>
  </body>
</html>
